<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iqac > Research</title>
    <link rel="icon" type="image/x-icon" href="/assets/research/favicon.ico">
    <script defer src="/js/research/file.js"></script>
    <link rel="stylesheet" media="all and (max-device-width: 500px) and (orientation:portrait)" href="/css/research/iphone-portrait.css" />
    <link rel="stylesheet" media="all and (max-device-width: 500px) and (orientation:landscape)" href="/css/research/iphone-landscape.css" />
    <link rel="stylesheet" media="all and (max-device-width: 1024px) and (min-device-width: 501px) and (orientation:portrait)" href="/css/research/ipad-portrait.css" />
    <link rel="stylesheet" media="all and (max-device-width: 1024px) and (min-device-width: 501px) and (orientation:landscape)" href="/css/research/ipad-landscape.css" />
    <link rel="stylesheet" media="all and (min-device-width: 1025px)" href="/css/research/style.css">
</head>
<body>
    <div class="loader">
        <img class="imga" src="/BMU-logo.png" alt="Loading...">
    </div>
    <section class="lmfao">
        <div class="sc1">
            <div class="sc1-1">
                <img class="sc1-1-img" src="/assets/research/BMU-logo.png" alt="logo">
                <h1 class="logo-heading">BML Munjal University</h1>
            </div>
            <div class="sc1-2">
                <form method="get" action="/research">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="para" value="prof1">
                    <button type="submit">        
                        <div class="sc1-2-btn1" onclick="btn1(1)">
                            <img src="./assets/research/som.svg" alt="">
                            <h1 class="sc1-2-txt1">School of Management</h1>
                        </div>
                    </button>
                </form>
                <form method="" action="">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="para" value="prof2">
                    <button type="submit">
                        <div class="sc1-2-btn2" onclick="btn1(2)">
                            <img src="./assets/research/soet.svg" alt="">
                            <h1 class="sc1-2-txt2">School of Engineering Tech.</h1>
                        </div>
                    </button>
                </form>
                <form method="" action="">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="para" value="prof3">
                    <button type="submit">
                        <div class="sc1-2-btn3" onclick="btn1(3)">
                            <img src="./assets/research/sol.svg" alt="">
                            <h1 class="sc1-2-txt3">School of Law</h1>
                        </div>
                    </button>
                </form>
                <form method="" action="">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="para" value="prof4">
                    <button type="submit">
                        <div class="sc1-2-btn4" onclick="btn1(4)">
                            <img src="./assets/research/sols.svg" alt="">
                            <h1 class="sc1-2-txt4">School of Liberal Studies</h1>
                        </div>
                    </button>
                </form>
            </div>
        </div>
        <div class="sc2">
            <div class="sc2-1">
                <form method="get" action="/dashboard">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit">⇐</button>
                </form>
                <h1>IQAC</h1>
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="logout" type="submit"><a>LOGOUT</a></button>
                </form>
            </div>
            <div class="sc2-2">
                <div class="sc2-2-1">
                    <h1 class="sc2-2-1-linkLine">IQAC > Research > <span class="sc2-2-1-linkLine-1">School of Management</span></h1>
                </div>
                <div class="sc2-2-2">
                    <div class="sc2-2-2-1">
                        <div class="sc2-2-2-1-1">
                            <canvas id="myChart" class="charts"></canvas>
                        </div>
                        <div class="sc2-2-2-1-1">
                            <canvas id="myChart1" class="charts"></canvas>
                        </div>
                        <div class="sc2-2-2-1-1">
                            <canvas id="myChart2" class="charts"></canvas>
                        </div>
                    </div>
                    <div class="sc2-2-2-2">
                        
                        <%for(data of merch){%>
                            <div class="sc2-2-2-2-1">
                                <div class="sc2-2-2-2-1-1">
                                    <img src="<%=data.photo%>" alt="" class="sc2-2-2-2-1-1-img">
                                </div>
                                <div class="sc2-2-2-2-1-2">
                                    <h1 class="name"><%=data.name%></h1>
                                    <h1 class="post"><%=data.post%></h1>
                                    <h1 class="data"><%=data.data1%> - <%=data.num1%></h1>
                                    <h1 class="data"><%=data.data2%> - <%=data.num2%></h1>
                                    <h1 class="data"><%=data.data3%> - <%=data.num3%></h1>
                                    <h1 class="data">Articles - <%=data.papers.substr(11,data.papers.length-11)%></h1>
                                </div>
                            </div>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="val" style="display: none;"><%=params%></div>
    <% map1.forEach((value, key) => { %>
        <div style="display: none;"><span class="cd1"><%=key%></span> -- <span class="cd2"><%=value%></span></div>
    <%});%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</body>
</html>